
header{
    background: lightblue;
}
header ul li a:hover{
    background: lightcyan;
    transition: 0.5s;
}
.my-5{
    background:lightcyan;
}
.contact-us{
    background: lightcyan;
}
footer{
    background: lightblue;
}
footer ul li a:hover{
    background: lightcyan;
    transition: 0.5s;
}
button {
    background: rgb(156, 194, 207);
    border: 1px solid transparent;
    border-radius: .25rem;
 
}
@media screen and (max-width: 767px) {
    body {
      background-color: #fff;
    }
  }